html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: rgb(12, 12, 12);
  overflow: hidden;
}

#border {
  width: 1381px;
  height: 720px;
  border: 2px solid rgb(218, 35, 22);

  position: absolute;
  top: 58px;
  left: 58px;
}
